/* Stiluri generale */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f7ff;
  color: #333;
}

header {
  background-color: #4d94ff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  background-color: #cfe2ff;
  padding: 20px;
  border-radius: 10px;
}

footer {
  background-color: #4d94ff;
  color: white;
  text-align: center;
  padding: 10px;
}
.logo {
  height: 300px;
  width: 300px;
}
.standup {
  font-weight: 400;
}
.about-section {
  display: flex;
}
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.contact-list {
  display: flex;
  flex-direction: column;
}
.contact-list-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}
